# UMO - XFCE Terminal (rendered per theme mode) (GPL-3.0-or-later)
# https://github.com/shadow-x78/ubuntu-modded-optimized

[Configuration]
FontName={{TERMINAL_FONT}}
ScrollingBar=TERMINAL_SCROLLBAR_ON
