<?xml version="1.0" encoding="UTF-8"?>
<!-- UMO - XSettings (rendered per theme mode) (GPL-3.0-or-later)
     https://github.com/shadow-x78/ubuntu-modded-optimized -->

<channel name="xsettings" version="1.0">
  <property name="Net" type="empty">
    <property name="ThemeName" type="string" value="{{GTK_THEME}}"/>
    <property name="IconThemeName" type="string" value="{{ICON_THEME}}"/>
    <property name="CursorThemeName" type="string" value="{{CURSOR_THEME}}"/>
    <property name="CursorThemeSize" type="int" value="24"/>
  </property>
  <property name="Gtk" type="empty">
    <property name="FontName" type="string" value="{{UI_FONT}}"/>
    <property name="MonospaceFontName" type="string" value="{{MONO_FONT}}"/>
    <property name="CanChangeAccels" type="bool" value="true"/>
  </property>
  <property name="Xft" type="empty">
    <property name="DPI" type="int" value="96"/>
    <property name="HintStyle" type="string" value="hintmedium"/>
    <property name="RGBA" type="string" value="rgb"/>
  </property>
</channel>
