# UMO - PCManFM Desktop Items (rendered) (GPL-3.0-or-later)
# https://github.com/shadow-x78/ubuntu-modded-optimized

[*]
wallpaper_mode=crop
wallpaper=/usr/share/wallpapers/umo-wallpaper.jpg
desktop_bg_color={{DESKTOP_BG}}
desktop_fg_color={{DESKTOP_FG}}
show_wm_menu=0
show_desktop_manager=1
