# UMO - LXDE Session and Desktop (rendered) (GPL-3.0-or-later)
# https://github.com/shadow-x78/ubuntu-modded-optimized

[GTK]
sNetThemeName={{GTK_THEME}}
sNetIconThemeName={{ICON_THEME}}
sGtkFontName={{UI_FONT}}
sGtkCursorThemeName={{CURSOR_THEME}}
iGtkCursorThemeSize=24
iXftAntialias=1
iXftHinting=1
sXftHintStyle=hintmedium
sXftRGBA=rgb

[Session]
window_manager=openbox
disable_autostart=no

[Desktop]
show_wallpaper=1
wallpaper=/usr/share/wallpapers/umo-wallpaper.jpg
desktop_bg={{DESKTOP_BG}}
desktop_fg={{DESKTOP_FG}}
