# UMO - GTK2 Settings (rendered per theme mode) (GPL-3.0-or-later)
# https://github.com/shadow-x78/ubuntu-modded-optimized

gtk-theme-name="{{GTK_THEME}}"
gtk-icon-theme-name="{{ICON_THEME}}"
gtk-font-name="{{UI_FONT}}"
gtk-cursor-theme-name="{{CURSOR_THEME}}"
gtk-cursor-theme-size=24
