# ─────────────────────────────────────────────
# UMO - GTK2 Settings
# ─────────────────────────────────────────────


gtk-theme-name="{{GTK_THEME}}"
gtk-icon-theme-name="{{ICON_THEME}}"
gtk-font-name="{{UI_FONT}}"
gtk-cursor-theme-name="{{CURSOR_THEME}}"
gtk-cursor-theme-size=24
