# UMO - GTK3 Settings (rendered per theme mode) (GPL-3.0-or-later)
# https://github.com/shadow-x78/ubuntu-modded-optimized

[Settings]
gtk-theme-name={{GTK_THEME}}
gtk-icon-theme-name={{ICON_THEME}}
gtk-font-name={{UI_FONT}}
gtk-monospace-font-name={{MONO_FONT}}
gtk-cursor-theme-name={{CURSOR_THEME}}
gtk-cursor-theme-size=24
gtk-toolbar-style=GTK_TOOLBAR_ICONS
gtk-button-images=0
gtk-menu-images=0
gtk-enable-event-sounds=0
gtk-enable-input-feedback-sounds=0
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintmedium
gtk-xft-rgba=rgb
